<p>Заполните шаг №2</p>
<form>
  <div class="form-group">
    <label for="country">Введите страну</label>
    <input type="text" class="form-control" id="country">
  </div>
  <div class="form-group">
    <label for="second-name">Введите город</label>
    <input type="text" class="form-control" id="second-name">
  </div>
</form>
<div class="navigation-buttons">
  <button type="button" class="btn btn-secondary" (click)="goPrev()">Назад</button>
  <button type="button" class="btn btn-primary" (click)="goNext()">Далее</button>
</div>
